<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="styles/styles.css">
<title>Untitled Document</title>
</head>
<div id='cssmenu'>
<ul>
  <li><a href="home.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="resume.html">Resume</a></li> 
  <li><a href="course_history.html">Course History</a></li> 
  <li><a href="code_examples.html">Projects & Code Examples</a></li>
  <li><a href="contact.html">Contact</a></li> 
 </ul>
</div>
<body>
<h1>About</h1>
<hr>
<div id='mypic'>
<%= image_tag("computer.jpg")%>
</div>
<div id='info'>  I am a graduate of the University of California, Santa Barbara, currently studying a Master of Information Technology at the Univeristy of Melboure. I am a California native, but chose to study in Australia for a new experience. My current technological skills include: 
<div id = "skillslist">
<ul>
  <li>Java</li>
  <li>Ruby</li>
  <li>Rails</li>
  <li>C#</li> 
  <li>HTML</li> 
  <li>CSS</a></li>
  <li>JavaScript</li>
  <li>SQL</li>
  <li>UML</li>
  <li>database design</li> 
  <li>distributed systems</li>
  <li>machine learning</li>
  <li>data structures and algorithms</li>  
 </ul>
 </div>
 <p>Please take a look at my past projects and course history for more in depth look at what I have been doing lately. Thanks! </p>
</div>
</div>
</body>
</html>
