<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<script src="script/topnav_script.js"></script>
<link rel="stylesheet" href="styles/styles.css">
<title>Contact</title>
</head>
<div id='cssmenu'>
<ul>
  <li><a href="home.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="resume.html">Resume</a></li> 
  <li><a href="course_history.html">Course History</a></li> 
  <li><a href="code_examples.html">Projects & Code Examples</a></li>
  <li><a href="contact.html">Contact</a></li> 
</div>
<body>
	<h1> Contact </h1>
    <hr>
    <ul>
	<li><contact> Phone: <contact> +1(805) 217-4599</li>
<li> </li>
<li><contact> Email: <contact class="email"> mmann1@student.unimelb.edu.au </li>
<li></li>
<li><contact> Linkedin: <contact> <a href="https://linkedin.com/in/mfmann">linkedin.com/in/mfmann</a></li>
</body>
</html>
