
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Course History</title>
</head>
<div id='cssmenu'>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="resume.html">Resume</a></li> 
      <li><a href="course_history.html">Course History</a></li> 
      <li><a href="code_examples.html">Projects & Code Examples</a></li>
      <li><a href="contact.html">Contact</a></li> 
    </ul>
</div>
<body>
	<h1>Course History</h1>
    <hr>
    <div id='tablearea'>
		<h2>UC Irvine</h2>
		<h4>Fall Quarter 2013</h4>
		<classlinks>
        <table cellspacing = "15" style="width: 99%; text-transform: none; font-size: 12px; text-align: center;">
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Grade</th>
                <th>Quarter Units</th>
            </tr>
            <tr>
            
                <td><a href="http://unex.uci.edu/courses/sectiondetail.aspx?year=2015&term=WINTER&sid=00113">I&C SCIX460.10 Java Programming I</a></td>
                <td><description>The aim of this course is to provide students with the knowledge and competencies to be able to write and design sophisticated professional 		programs using Java through extensive hands-on exercises. Included are core language concepts including fundamental data types, flow control, and standard function libraries. The course emphasizes object-oriented programming and modular design to support distributed development environments.</description></td>
                <td>A-</td> 
                <td>3.00</td>
            </tr>
            <tr>
                <td>I&C SCIX460.37 Database Structures and Algorithms</td>
                <td>--</td>
                <td>A+</td> 
                <td>2.50</td>
            </tr>
        </table>
        </classlinks>
    <hr>
	<h2>University of Melbourne</h2>
    <text class="gradinglink">*Grading Scale Below</text>
		<classlinks>
            <h4>Semester 1 2014</h4>
                <table cellspacing = "15" style="width: 99%; text-transform: none; font-size: 12px; text-align: center;">
                    <tr>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Mark</th> 
                        <th>Grade</th>
                        <th>Credit Points</th>
                  </tr>
                  <tr>
                        <td><a href="https://handbook.unimelb.edu.au/view/2014/COMP90038?output=PDF">COMP90038 Algorithms and Complexity</a></td>
                    
                        <td><description>Topics covered include complexity classes and asymptotic notation; empirical analysis of algorithms; abstract data types including queues, trees, priority queues and graphs; algorithmic techniques including brute force, divide-and-conquer, dynamic programming and greedy approaches; space and time trade-offs; and the theoretical limits of algorithm power</description></td>
                        <td>81</td> 
                        <td>H1</td>
                        <td>12.50</td>
                  </tr>
                  <tr>
                        <td><a href="https://handbook.unimelb.edu.au/view/2014/SINF90001">SINF90001 Database Systems & Information Modelling</a></td>
                        <td><description>This subject serves as an introduction to databases and data modelling from a data management perspective. Database design, from conceptual design through to physical implementation will be covered. This will include Entity Relationship modelling, normalisation and de-normalisation and SQL. Additionally the use of databases in various contexts will be explored (web based databases, connecting programs to databases, data warehousing, health contexts, geospatial databases).</description></td>  
                        <td>87</td> 
                        <td>H1</td>
                        <td>12.50</td>
                  </tr>
                  <tr>
                        <td><a href="https://handbook.unimelb.edu.au/view/2014/COMP90041">COMP90041 Programming and Software Development</a></td>
                        <td><description>The aims for this subject is for students to develop an understanding of approaches to solving moderately complex problems with computers, and to be able to demonstrate proficiency in designing and writing programs using a programming language. The programming language used is Java. Topics covered include: Java basics, console input/output, control flow, defining classes, using object references, arrays, inheritance, polymorphism and abstract classes, exception handling, UML, interfaces, and generics. </description></td>
                        <td>79</td> 
                        <td>H2A</td>
                        <td>12.50</td>
                  </tr>
                  <tr>
                        <td><a href="https://handbook.unimelb.edu.au/view/2014/COMP90007">COMP90007 Internet Technologies</a></td>
                       <td><description>The subject will introduce the basics of computer networks to students through a study of layered models of computer networks and applications. The first half of the subject deals with data communication protocols in the lower layers of OSI and TCP/IP reference models. The students will be exposed to the working of various fundamental networking technologies such as wireless, LAN, RFID and sensor networks. The second half of the subject deals with the upper layers of the TCP/IP reference model through a study of several Internet applications.</description></td>
                        <td>80</td> 
                        <td>H1</td>
                        <td>12.50</td>
                  </tr>
              </table>
              
              <h4>Semester 2 2014</h4>
                <table cellspacing = "15" style="width: 99%; text-transform: none; font-size: 12px; text-align: center;">
                    <tr>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Mark</th> 
                        <th>Grade</th>
                        <th>Credit Points</th>
                  </tr>
                                <tr>
                                <td><a href="https://handbook.unimelb.edu.au/view/2015/COMP30019">COMP30019 Graphics and Interaction</a></td>
                                <td><description>This subject introduces the technologies of computer graphics and human-computer interaction along with the biological, psychological and social aspects of human perception and action that inform the application of those technologies. The emphasis is on 2D and 3D computer graphics and the geometric modelling techniques used for representing and interacting with objects in dynamic scenes. Techniques considered include transformation geometry, illumination models and the real-time rendering (shading) models. The subject is centred on developing Apps for tablet computers based on natural user interfaces (NUIs), a term used by developers of human-machine interfaces that effectively become invisible to their users through successive learned interactions. Technologies likely to be considered are: virtual reality, computer games, augmented reality, tele-presence, or other modalities such as interaction through the sense of touch, audio or image processing and analysis.</description></td>
                                <td>80</td> 
                                <td>H1</td>
                                <td>12.50</td>
                          </tr>
                         <tr>
                                <td><a href="https://handbook.unimelb.edu.au/view/2014/COMP30018">COMP90049 Knowlege Technologies</a></td>
                                     <td> <description>The aim of this subject is to introduce students to knowledge technologies and give them exposure to what applied research is all about.Topics include: data encoding and markup, web crawling, clustering, regular expressions, pattern mining, Bayesian learning, instance-based learning, document indexing, database storage and indexing, and text retrieval.</description></td>
                                <td>82</td> 
                                <td>H1</td>
                                <td>12.50</td>
                          </tr>
                  <tr>
                                <td><a href="https://handbook.unimelb.edu.au/view/2014/COMP90015">COMP90015 Distributed Systems</a></td>
                                <td><description>The subject aims to provide an understanding of the principles on which the Web, Email, DNS and other interesting distributed systems are based. Questions concerning distributed architecture, concepts and design; and how these meet the demands of contemporary distributed applications will be addressed.Topics covered include: characterization of distributed systems, system models, interprocess communication, remote invocation, indirect communication, operating system support, distributed objects and components, web services, security, distributed file systems, and name services.</description></td> 
                                <td>79</td> 
                                <td>H2A</td>
                                <td>12.50</td>
                          </tr>
                      <tr>
                                <td><a href="https://handbook.unimelb.edu.au/view/2014/SWEN30006">SWEN30006 Software Modelling and Design</a></td>
                                <td><description> This subject delivers the knowledge and skills needed for the analysis and design of medium to large-scale software systems. The subject also teaches students how off-the-shelf development frameworks can be utilized for designing large-scale software systems. The emphasis will be on analysis and techniques appropriate for object-oriented programming. Topics covered include: requirements analysis (including use-cases), the Unified Modelling Language (UML), software design processes and principles, common design patterns and architectural styles, and software tools for analysis and design.</description></td>
                                <td>80</td> 
                                <td>H1</td>
                                <td>12.50</td>
                          </tr>
              </table>
             
         
      <h4>Semester 1 2015(Planned)</h4>
                <table cellspacing = "10" style="width: 99%; text-transform: none; font-size: 12px; text-align: center;">
                        <tr>
                            <th>Subject</th>
                            <th>Description</th>
                            <th>Mark</th> 
                            <th>Grade</th>
                            <th>Credit Points</th>
                        </tr>
                        <tr>
                                <td><a href="https://handbook.unimelb.edu.au/view/2014/COMP90055">COMP90055 Computing Project</a></td>
                                <td> <description>This subject involves in-depth investigation of a significant problem related to Computing. The subject also provides students with skills and knowledge for analysing and solving problems, and enhanced written and oral communication skills. The subject is fundamentally a research-based project, giving a capstone experience and piece of scholarship to students.</description></td>
                                <td>--</td> 
                                <td>--</td>
                                <td>25.00</td>
                          </tr>
                          <tr>
                                <td><a href="https://handbook.unimelb.edu.au/view/2014/ISYS90050">ISYS90050 IT Project and Change Management</a></td>
                                <td><description>This subject covers management of information technology projects and leading project teams and associated change management roles, tasks and processes. Topics include the project life cycle, project tasks and deliverables, project scheduling, critical path analysis, resource levelling, risk management, quality assurance and project delivery including post implementation reviews. The limits of projects as change agents will also be covered.</description></td>
                                <td>--</td> 
                                <td>--</td>
                                <td>12.50</td>
                          </tr>
                          <tr>
                                <td><a href="https://handbook.unimelb.edu.au/view/2014/COMP90050">COMP90050 Advanced Database Systems</a></td>
                                <td><description>The subject will cover the technologies used in advanced database systems. Topics covered will include: transactions, including concurrency, reliability (the ACID properties) and performance; and indexing of both structured and unstructured data. The subject will also cover additional topics such as: uncertain data; Xquery; the Semantic Web and the Resource Description Framework; dataspaces and data provenance; datacentres; and data archiving.</description></td>
                                <td>--</td> 
                                <td>--</td>
                                <td>12.50</td>
                          </tr>
                </table>
        <hr>
<h2>University of Melbourne Grading Scheme</h2>
        <a href="https://policy.unimelb.edu.au/MPF1052" class="gradinglink">*Link to Official Grading Scheme Policy</a>
        <table cellspacing = "15" style="width: 99%; text-transform: none; font-size: 12px; text-align: center;">
             	<tr>
                    <th>Grade</th>
                    <th>Mark</th>
                    <th>Descriptor</th> 
                    <th>Explanation</th>
                </tr>
                <tr>
                   		<td>H1</td>
                    	<td> 80% - 100%</td>
                    	<td>First Class Honours</td> 
                    	<td>--</td>
                  </tr>
                  <tr>
                    	<td>H2A</td>
                    	<td>75% - 79%</td>
                    	<td>Second Class Honours Division A</td> 
                    	<td>--</td>
                  </tr>
                  <tr>
                    	<td>H2B</td>
                       	<td>70% - 74%</td>
                    	<td>Second Class Honours Division B</td> 
                    	<td>--</td>
                  </tr>
                  <tr>
                    	<td>H3</td>
                       	<td>65% - 69%</td>
                    	<td>Third Class Honours</td> 
                    	<td>--</td>
                  </tr>
                  <tr>
                    	<td>P</td>
                       	<td>50% - 65%</td>
                    	<td>Pass</td> 
                    	<td>--</td>
                  </tr>
                   <tr>
                    	<td>N</td>
                       	<td>0% - 49%</td>
                    	<td>Fail</td> 
                    	<td>No credit points are awarded.</td>
                  </tr>
                   <tr>
                    	<td>CMP</td>
                       	<td>--</td>
                    	<td>Completed</td> 
                    	<td>Pass (no mark awarded). Only used for subjects marked on a pass/fail basis.</td>
                  </tr>
      	</table>
     </div>   
	</body>
</html>
