<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="styles/styles.css">
<title>Untitled Document</title>
</head>
<div id='cssmenu'>
<ul>
  <li><a href="home.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="resume.html">Resume</a></li> 
  <li><a href="course_history.html">Course History</a></li> 
  <li><a href="code_examples.html">Projects & Code Examples</a></li>
  <li><a href="contact.html">Contact</a></li> 
</div>

<body>
<h1>Resume</h1>
<hr>
 <embed src="pdf/mann_resume_2014.pdf" width="800" height="750" scale="tofit"></embed>
</body>
</html>
